/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.material-icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* VARIABLES */

:root {
  --main-color: #85bd04;
  --sub-color: rgba(115, 185, 50, 0.5);
  --logo-color: #212121;
  --text-color: #212121;
  --text-color-light: #757575;
  --border-color: #eee;
  --bg-color: #f1f0f0;
  --mainbg-color: #f7f7f7;
  --neutral-color: #fff;

  --notebg-color: rgb(243, 243, 243);
  --highlight-color: #b3ff01;
}

[data-theme='dark'] {
  --main-color: #8a53e2;
  --sub-color: #7e44db;
  --logo-color: #FFFFFF;
  --text-color: rgb(228, 228, 228);
  --text-color-light: rgb(177, 177, 177);
  --border-color: rgb(44, 44, 44);
  --bg-color: #503957;
  --mainbg-color: #222222;
  --neutral-color: rgb(14, 14, 14);

  --highlight-color: #6200ff;
}

[data-theme='seafoam'] {
  --main-color: #00796B;
  --sub-color: #00BCD4;
  --logo-color: #FFFFFF;
  --text-color: #212121;
  --text-color-light: #757575;
  --border-color: #cbf1ee;
  --bg-color: #009688;
  --mainbg-color: white;
  --neutral-color: #B2DFDB;

  --highlight-color: #00e4c9;
}


[data-theme='dandelion'] {
  --main-color: #FF5722;
  --sub-color: #F57C00;
  --logo-color: #FFFFFF;
  --text-color: #212121;
  --text-color-light: #383838;
  --border-color: #FFE0B2;
  --bg-color: #E64A19;
  --mainbg-color: white;
  --neutral-color: #FF9800;

  --highlight-color: #fd3b00;
}

/* GENERAL */

* {
  box-sizing: border-box;
}

.app {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--mainbg-color);
    position: relative;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

@media only screen and (max-width: 790px) {
  header {
    flex-direction: column;
  }
}

header #logo {
  font-size: 175%;
  /* text-align: left; */
  /* align-items: flex-start;
  justify-content: flex-start; */
  margin-left: 1.5em;
  color: var(--logo-color);
  line-height: 1;
}

header .nav {
  /* text-align: right; */
  /* align-items: flex-end;
  justify-content: flex-end; */
  margin-right: 20px;
  font-size: 175%;
  line-height: 1;
}

@media only screen and (max-width: 790px) {
  header .nav {
    text-align: center;
    margin-top: 1em;
  }
}

header .app-link {
  margin-left: 20px;
  margin-right: 20px;
  color: var(--text-color);
  text-decoration: none;
}

header .app-link:visited {
  margin-left: 20px;
  margin-right: 20px;
  color: var(--text-color);
}

header .app-link:hover {
  margin-left: 20px;
  margin-right: 20px;
  color: var(--main-color);
}

header #logo .icon {
  padding-right: .25em;
}

/* MAIN */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 0;
  /* max-width: 50em; */
}

@media only screen and (max-width: 790px) {
  main {
    display: flex;
    flex-direction: column;
  }
}

.bold {
  font-weight: bold;
}

.footnote {
  font-size: 1em;
  color: var(--text-color-light);
}

/* GRID - CALENDAR */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 50em;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}


/* CALENDAR */

.today-info {
  background-color: var(--sub-color);
  border-radius: 5px;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 2em;
}

.select-today {
  cursor: pointer;
  background-color: var(--neutral-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.calendar {
  display: block;
  position: relative;
  min-width: 45em;
  margin-top: 2em;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

@media only screen and (max-width: 790px) {
  .calendar {
    min-width: 30em;
    margin-top: 1em;
  }
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .material-icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .material-icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .material-icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .material-icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  /* border: 2px solid transparent; */
  /* border-color: rgb(0, 0, 0,0.2); */
  background: var(--bg-color);
  border-image-slice: 1;
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

/* Change log */

.overlay {
  background: rgba(0,0,0,0.7);
  width: 50em;
  height: 50em;
  position: absolute;
  padding-top: 1em;
  padding-bottom: 1em;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: var(--neutral-color);
  backdrop-filter: blur(10px);
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1;
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: var(--neutral-color);
  text-shadow: 1px 3px 3px rgba(0,0,0,0.3);
}

.logs {
  height: 40em;
  margin-right: 1em;
  margin-left: 1em;
  overflow: scroll;
}

.log h3, .log p, .log li {
  text-align: left;
}

.log h3 {
  margin-left: 1.8em;
  margin-bottom: 0;
}

.log p, .log li {
  margin-left: 2.2em;
  margin-right: 2em;
}

/* Content */

.content, .day-container {
  background: var(--neutral-color);
  margin-left: 50px;
  margin-right: 50px;
  /* min-width: 600px; */
  width: 40em;
  height: 60em;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
}

.day-container {
  position: absolute;
  margin-left: 48.2em;
  box-shadow: none;
}

.day-content {
  height: 52em;
  margin-right: 0.5em;
  overflow: scroll;
}

.text-content {
  height: 52em;
  margin-right: 0.5em;
  overflow: scroll;
}

@media only screen and (max-width: 790px) {
  .content {
    margin-top: 2em;
    width: 30em;
  }
}

@media only screen and (max-width: 790px) {
  .day-content {
    width: 30em;
    margin-top: 39.1em;
    margin-left: 3.2em;
  }
}

.content form, .day-content form {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
}

.content form .submit-button, .day-content form .submit-button {
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}

.page-header {
  font-size: 2em;
  font-weight: normal;
  margin-left: 30px;
  margin-right: 30px;  
}

.section-header {
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 5px;
}

.subsec-header {
  font-size: 1.1em;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 2px;
}

.recurrence-container {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  min-height: 5em;
}

.frequency-container {
  background: rgba(0,0,0,0.2);
  /* color: black; */
  border-radius: 2px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.events-radio {
  margin-right: 5em;
}

.content p, .day-content p {
  font-size: 1em;
  margin-left: 30px;
  margin-right: 30px;
}

.content hr {
  margin: 25px;
  border-color: var(--sub-color);
}

.day-content hr {
  margin-right: 25px;
  margin-left: 25px;
  border-color: var(--sub-color);
}

.text-content h2 {
  margin-left: 1.2em;
}

.text-content h3 {
  margin-left: 1.5em;
}

.text-content ul {
  margin-left: 1em;
}

.text-content a {
  color: var(--main-color);
  text-decoration: none;
}

.icon-list {
  border: 1px solid var(--border-color);
  padding: 2px;
  height: 7em;
  overflow: wrap;
}

.icon {
  margin: 4px;
  cursor: pointer;
}

.icon:hover {
  color: var(--main-color);
}

.highlight {
  color: var(--highlight-color);
}

.event-list {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
}

.event {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px 2px 10px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.delete-button {
  background: var(--border-color);
  padding: 5px 8px 5px 8px;
  border: none;
  cursor: pointer;
}

/* Day UI */
.table-header {
  font-weight: 400;
  font-size: 1.1em;
  text-align: left;
  margin-bottom: 10px;
}

.table {
  text-align: left;
}

.event-name {
  padding-right: 15em;
}

.column-header {
  background-color: var(--main-color);
  font-weight: 500;
}

.column {
  padding-left: 0.5em;
  padding-bottom: 0.2em;
}

.delete-button {
  background-color: var(--neutral-color);
  transition: 0.5s;
  cursor: pointer;
}

.delete-button:hover {
  background-color: var(--bg-color);
}

.delete-icon {
  background: none;
  padding-left: 40px;
  border: none;
  cursor: pointer;
}

.day-note {
  background: var(--notebg-color);
  padding: 10px;
  color: var(--text-color-light);
}

/* Footer */

footer {
  text-align: center;
  padding-bottom: 0.5em;
}

footer a {
  color: var(--main-color);
  text-decoration: none;
  padding-left: 0.2em;
}

footer a:visited {
  color: var(--main-color);
  text-decoration: none;
}

footer .link-button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1;
  color: var(--main-color);
  font-size: 0.9em;
  padding: 0;
}